*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.nav__a{
    margin: 0 20px;
}